*,
*:before,
*:after {
	box-sizing: border-box;
}
img{
	display: block;
	width: 100%;
	height: auto;
}
 body{
 	background-color: #fff;	
 	color:#5f5f5f;
 	font: 20px 'Open Sans', Arial, Verdana, sans-serif;
 }
 .clearfix:after{
 	content: "";
 	display: block;
 	clear: both;
 }
 a:hover{
 	text-decoration-line: none;
 	text-decoration: none;
 }
.icon, .icon:before,.icon:after{
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	display: inline-block;
	background-position: -6000px -8000px;
	z-index: 100;
}
 /*header*/
.wrapper_head{
	text-align: center;	
	background-image: url(../images/header_bg.png);
	background-repeat: no-repeat;
	background-position: 50% 10%;
	z-index: 10;	
}
.bg_header{	
	background: rgba(255, 255, 255, .8);
	margin-left: -15px;
	margin-right: -15px;
}
.wrapper{
	background:rgba(250, 250, 250, .8);	
	padding: 5px;
}
.wrapper_head ul{
	margin:3px;
}
.wrapper_head ul li{
	float: left;
	text-decoration: none;
	display: inline-block;
	float: right;
}
.wrapper_head  li  a{
	color:#5f5f5f;
	line-height: 0;
	margin:0px 10px 0px 10px;
}
.wrapper_head  li  a:hover{
	color:#fd9c06;
	cursor: url(../images/cursor.png),auto;
}
.wrapper_head  li  a:link:active, a:visited:active, a:focus { 
	color:#000;
	text-decoration: none;
}
.wrapper_head  li:before{
	content: "";
	display: inline-block;
	width: 1px;
	height: 30px;
	margin-right:12px;
	margin-left:12px;
	margin-bottom: -8px;
	background: #b3b2b2;
	background: -moz-linear-gradient(top, #e7e7e7 0%, #b3b2b2 50%, #e7e7e7 100%);
    background: -webkit-linear-gradient(top, #e7e7e7 0%,#b3b2b2 50%,#e7e7e7 100%);
    background: -o-linear-gradient(top, #e7e7e7 0%,#b3b2b2 50%,#e7e7e7 100%);
    background: -ms-linear-gradient(top, #e7e7e7 0%,#b3b2b2 50%,#e7e7e7 100%);
    background: linear-gradient(top, #e7e7e7 0%,#b3b2b2 50%,#e7e7e7 100%);	
}
.wrapper_head  li:last-child:before{
	content: none;
}
.menuToggle{
 	display: none;
 }
.text_header{
	padding: 84px 0 30px;
}
.text_header h1{
	font-size:50px;
	line-height: .6;
	margin-top: 20px;
}
.text_header h2{
	font-size:40px;
	line-height: .8;
	margin-top: 10px;
}
/*form*/
.form_header{
	width: 84%;
	background: #fd9c06;
	margin: 0 auto;
	padding:15px; 
	border-radius: 50px;
	font-size: 20px;
	color:#fff;
}
input[type=text]{
	max-width: 180px;
	font-size: 15px;
	color:#b3b2b2;
	padding-left: 10px;
	border:none;
	border-radius: 5px;
}
.city{
	margin-left: -20px;
}
.city:before{
	content: "";
	background-position:-15px -39px; 
	width: 22px;
	height:30px;
	margin-bottom: -10px;
}
.form_header select{
	-moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    border: none;
    border-radius: 5px;
    color:#b3b2b2;
    font-size: 14px;
    width: 160px;
    scroll-behavior:
    text-decoration-line:underline;
}
.form_header select option{
	color:#5f5f5f;
	font-size: 16px;
	line-height: 1;
}
.form_header .form_select{
	position: relative;
	display: inline-block;
}
.form_header .form_select:after{
	content: "";
	border-style: solid;
	border-width: 10px 8px 0 8px;
	border-color: #b3b2b2 transparent transparent transparent;
	position: absolute;
	z-index: 10;
	top:46%;
	right: 2%;	
	pointer-events: none;
}
.genre:before{
	content: "";
	background-position: -26px -125px;
	width: 26px;
	height:30px;
	margin-bottom: -5px;
	margin-left: 3px;
	margin-right: 3px;	
}
select{
	width: 180px;
}
.person:before{
	content: "";
	background-position:-20px -95px; 
	width: 30px;
	height:30px;
	margin-bottom: -10px;
	margin-left: 3px;
	margin-right: 3px;
}
/*button_header*/
input[type=submit]{
	color:#fd9c06;
	font-size: 18px;
	line-height: 1.9
	font-weight: bold;
	text-transform: uppercase;
	background: #fff;
	border:none;
	border-radius: 20px;
	padding: 0 15px;
	margin-left: 20px;
	outline: none;;
}
input[type=submit]:active{
	color:red;
	outline: none;
}
/*row items*/
.items{
	margin-top: 80px;
}
.items .enter_icon:before{
	content: "";
	width: 101px;
	height: 101px;
	background-position: -21px -502px
}
.items .price_icon:before{
	content: "";
	width: 101px;
	height: 101px;
	background-position: -21px -392px
}
.items .booking_icon:before{
	content: "";
	width: 101px;
	height: 101px;
	background-position: -21px -282px
}
.items .reviews_icon:before{
	content: "";
	width: 101px;
	height: 101px;
	background-position: -21px -167px
}
.items{
	text-align: left;
}
.item{
	padding: 10px;
	position: relative;

}
h4{
	font-size: 25px;
	position: absolute;
	margin-top: 4%;
	top:0;
	left: 40%;
	padding-right: 20%;
}

/*main*/
main .wrapper_room{
	padding: 13px 15px 15px;
	background: #f0f0f0;
	margin:30px 0;
	text-align: center;
	border-radius: 5px;
	position: relative;
}
main .hide_text, 
.text_sidebar{
	color:#000;
	padding: 15px 20px;
}
.main  h5,
.sidebar h5{
	font-size: 18px;
	text-transform: uppercase;
	color:#000;
	margin-bottom: 0;
	min-height: 50px;
}
.hide_text{	
	display: none;
	position: absolute;
	z-index: 105;
	background: #f0f0f0;
	top:94%;
	left: 0;
	right: 0;
	border-radius: 5px;
}
main .hide_text p{
	margin-top: 0;
}
main .hide_text p,
main .text_sidebar p{
	font: 16px/1.2  Verdana, Arial, sans-serif;
	text-align: left;
}
.wrapper_room input[type=button]{
	background: #fd9c06;
	border:none;
	border-radius: 20px;
	color:#fff;
	padding: 5px 25px;
	outline: none;
	text-transform: uppercase;
	font: bold 20px 'Open Sans', Arial, Verdana, sans-serif;
	margin: 5px auto;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.wrapper_room input[type=button]:hover{
	color:#000;
	background: #c47a08;
}
.wrapper_room input[type=button]:active{
	color:#000;
	font-size: 22px;
}
.room, 
.sidebar{
	position: relative;
	color:#fff;
}
.information{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0
	top:0;
	width: 100%;
	height: 100%;
}
.main .brain,
.main .brain_three_active{	
	position: absolute;
	top:5%;
	left:3%;
	width:136px;
	height:30px;
	z-index: 30;
}
.main .brain{
	background-position: -24px -612px;
}
.main .brain_three_active{
	background-position: -10px -644px;
	
}
.main .user{
	position: absolute;
	right: 4%;
	top:4%;
	font-size: 18px;
}
.main .user:before{
	content: "";
	background-position: -20px -695px;
	width: 26px;
	height: 26px;
	margin-right: 3px;
	margin-bottom: -5px;
}
.time{
	position: absolute;
	top:15%;
	right: 4%;
	font-size: 14px;
	line-height: 1.8;
}
.main .time:before{
    content: "";
	background-position: -20px -719px;
	width: 19px;
	height: 19px;
	margin-right: 3px;
	margin-bottom: -5px;
}
.reiting{
	position: absolute;
	bottom: 5%;
	left: 5%
}
.main .reiting:after{
	content: "";
	background-position: -20px -682px;
	width: 53px;
	height: 15px;
	margin-left: 3px;
	margin-bottom: -3px;
}
.main .five_stars:after{
	content: "";
	width: 76px;
}
/*hover*/
.room_hover{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background:rgba(0,0,0, 0.3);
    padding:5px; 

}
.wrapper_room:hover .room_hover{
    display:block;
}
.wrapper_room:hover .hover_hide{
	display: none;
}
.room_hover span{
	font-size: 16px;
	position: absolute;
	top:42%;
	left:7%;
	right: 7%;
	text-align: left;
}
.other_rooms .room_hover span{
	font-size: 13px;
	left:5%;
	right: 4%;
}
.room_hover .reiting{
	position: absolute;
	top: 76%;
	left: 5%;
}
.main{
	float: left;
}
.sidebar{
	float: right;
}
.sidebar .brain{
	width: 80px;
}
.room_hover{
	display: none;
}
/*other_rooms*/
.other_rooms .wrapper_room .icon{
	font-size: 13px;
}
.other_rooms .brain{
	width:106px;
	height:24px;
}
.other_rooms .brain{
	background-position: -48px -719px;
}
.other_rooms .reiting:after{
	content: "";
	background-position: -1px -766px;
	width: 60px;
	height: 10px;
	margin-left: 3px;
	margin-bottom: -3px;
}
.other_rooms .user:before{
	content: "";
	background-position: -1px -681px;
	width: 18px;
	height: 20px;
	margin-right: 3px;
}
.other_rooms .time:before{
    content: "";
	background-position: -2px -742px;
	width: 19px;
	height: 19px;
	margin-right: 3px;
	margin-bottom: -5px;
}
/*button_load_more*/
.button_load{
	text-align: center;
	margin:20px auto 40px;
}
.button_load input[type=button],
.video input[type=button]{
	border: none;
	font-weight: bold;
	background:#fd9c06;
	border-radius: 20px;
	font-size: 30px;
	padding: 3px 50px;
	text-transform: uppercase;
	color:#fff;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button_load input[type=button]:hover,
.video input[type=button]:hover{
	background: #c47a08;
	cursor: default;
}
.button_load input[type=button]:activ,
.video input[type=button]:activ{
	outline: none;
}
/*video*/
.video{
	position: relative;
}
.relation{
	position: absolute;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0, .3);
}
.video input[type=button]{
	font-size: 18.5px;
	padding: 10px 46px 10px 20px;
	margin: 20px  0px 50px 50px;
}
.relation .icon_play:after{
	content: "";
	background-position: -15px -1030px;
	z-index: 100;
	width: 25px;
	height: 25px;
	margin-left: -40px;
	margin-bottom: -5px;
}
.relation h3{
	color:#fff;
	font-size: 35px;
	text-transform: uppercase;
	margin: 44px 56px 30px 40px;
}
.icon_play_big{
	display: block;
	width: 188px;
	height: 188px;
	border-radius: 50%;
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	display: inline-block;
	background-position: -10px -760px;
	z-index: 101;
	margin-top:12%;	
	margin-left: 60%;
}
.text_under_video{
	width: 80%;
	margin:30px auto;
}
.text_under_video h5{
	font-size: 30px;
	text-align: center;
	margin-top:10px;
}
.text_under_video p{
	font-size: 14px;
	line-height: 1.3;
}
/*footer*/
footer{
	background:#454545;
	color:#fff;
	font-size: 14px;
	text-align: center;
	padding: 15px 0 25px;
}
footer a{
	color:#fff;
	text-decoration: none;
	font-size: 16px;
	line-height: 1.2;
}
footer ul li{
 list-style: none;
 text-align: left;
}
footer a:hover{
	text-decoration: underline;
	color:#fff;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: context-menu;
}
div .privacy{
	display: inline-block;
	border-bottom: 1px dashed #fff;
	margin:20px auto 10px;
}
.footer_text{
	padding: 0 3%;
	margin-top: 10px;
}
.footer_text p{
	margin: 0;
}
.fb,
.twitter,
.instagram{
	width: 42px;
	height: 42px;
	margin-left: 10px;
}
.fb{
	background-position: -14px -979px;
}
.twitter{
	background-position: -73px -979px;
}
.instagram{
	background-position: -133px -979px;
}
.social{
	padding:50px 10px;
	text-align: right;
}

